#home{
    display: flex;
    flex-direction: column;
}
#homeTitle{
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
}

h1{
    size: 200px;
    color:red;
}

footer{
    border: 1px solid black;
    background-color: rgb(224, 219, 219);
}